<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

    <title>Univer</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="card" style="width: 100%">
            <div class="card-header">
                Добавить преподавателя.
            </div>
            <div  class="card-body">
                <form th:action="@{/api/v2/univer/professors/update}" method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="id" th:value="${professor.id}"/>
                    <div class="form-group">
                        <label for="pname">Имя</label>
                        <input type="text" th:field="${professor.name}" class="form-control" name="name" id="pname" required>
                    </div>
                    <div class="form-group">
                        <label for="addressId">Адрес</label>
                        <input type="text" th:field="${professor.address}"   class="form-control" name="address" id="addressId" required>
                    </div>
                    <div class="form-group">
                        <label for="phone">Номер телефона</label>
                        <input type="text" th:field="${professor.phoneNumber}"  class="form-control" name="phoneNumber" id="phone" required>
                    </div>
                    <div class="form-group">
                        <label for="pay">Оплата</label>
                        <input type="number" th:field="${professor.payment}"  class="form-control" name="payment" id="pay" required>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Обновить</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>